#pokeFavorite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
    align-items: center;
    gap: 20px;
}

#messageEmpty, #messageLogin {
    font-size: 24px;
}