.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 40px 80px;
}

main{
    display: flex;
    justify-content: center;
}

.form {
    // background-image: linear-gradient(to bottom right, #ffffff, #42a5ff);
    padding: 40px; 
    border-radius: 10px;
    width: 300px; 
    text-align: center;
    width: 300px;
}


#username, #password {
    color: black;
}

#formTitle, #formTitle1 {
    padding-bottom: 40px;
}